.Advert-background {
    background-color:#D4E1E5;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #2d93af;
}

.MyyyAdvert-background {
    background-color:rgb(85, 80, 80, 0.7);
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #2d93af;
}

.Advert-link {
    color: #2d93af;
}

.Advert-link:hover {
    color: #2d93af;
    text-decoration: none;
}

.MyAdvert-maxheight {
    max-height: 255px;
}

.MyAdvert-maxheight-update {
    max-height: 155px;
}

.MyAdvert-border {
    border-style: solid;
    border-width: 1px;
    border-color: green;
}

.MyAdvert-background {
    background-color:rgb(85, 80, 80, 0.7);
    color: #2d93af;
}
.MyAdvert-background h3 {
    color: white;
    font-size: 22px;
    font-family: cursive;
}

.MyAdvert-files {
    border: none;
    background: #fdfdfd;
    color: #000000 !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    font-family: cursive;
}
.MyAdvert-files:hover {
    color: #ffffff !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
}